#warper
    .header
        h2 大妈弹幕管理后台
        p 欢迎 #{loginUser.user} 等级 #{loginUser.level}
    .left-nav
        ul.nav
            - list = ['欢迎','导航配置','活动管理','弹幕表情','用户管理','敏感词']
            each item in list
                li.nav-item #[strong #{item}]
    .content