#warper
    .header
        h2 大妈弹幕管理后台
        p 欢迎 #{loginUser.user} 等级 #{loginUser.level}
    .left-nav
        ul.nav
            each item in list
                li.nav-item(data=item.template) #[strong #{item.title}]
    .content
script(src="/js/admin.js")
