header.header
    .header-box
        .lf-box
            .logo
                a(href='/')
                    img(src='/static/images/logo.png')
            .nav
                ul
                    each item in navlist
                        li
                            a(href=item.ref) #{item.label}
                            if currentPage && currentPage.id == item.id
                                span.current
            include user