.user
    .no-login
        if !loginUser
            a(href='/login') 登录
            span #[strong  |] 
            a(href='/register') 注册
        else
            a(href='javascript:void(0)').arrow-left 您好 #[strong #{loginUser.user}]
            span #[strong  |] 
            if loginUser.isAdmin
                a(href='/admin' target='_blank') 后台管理
            else
                a(href='/setting' target='_blank') 设置
            span #[strong  |] 
            a.logout(href='javascript:void(0)') 退出
            script(src="/js/logout.js")