doctype html
html
    head
        title 找不到指定页面
        link(rel="stylesheet", href="/static/css/404.css") 
    body
        .topTip
            .box
                img(src='/static/images/404.jpg')
                a(href='/').back 返回首页
