extends index
append title
    | | 出错啦！！！
append css
    link(rel="stylesheet", href="/static/css/404.css")
    link(rel="stylesheet", href="/less/505.css")
block main
    .error-main
        .error-page
            .error-box.clearfix
                .errimg.fl
                .reason.fl
                    h3 #{error}
                    p.p1 可能原因：
                    p.p2 1、程序员吃了过期食品
                    p.p2 2、机房水表炸了
                    p.p2 3、站长大保健被抓了
    img(src="/qr/9999", alt="").big