doctype html
html
    head
        title 大妈弹幕管理页面
        script(src="/static/jquery.min.js")
        link(rel="stylesheet", href="/less/admin.css")
    body
        if !loginUser
            | 请先 #[a(href='/login') 登录]
        else if !loginUser.isAdmin
            | 您没有权限访问管理页面
        else
            include admin/index
