doctype html
html
    head
        title #{title}
        script(src='/static/jquery.min.js')
        link(rel="stylesheet", href="/static/css/chat.css")
    body
        .box
            .logo
                p DAMA.CN
            .talk
                div
                    .emotion
                        a.face-toggle(href='javascript:void(0)')
                        .emojPanel
                            ul
                                each emo in emojMap
                                    li(data-tag=emo.tag)
                                        img(src=emo.url)
                    .speak
                        cite 30
                        input(type="text" name="message" placeholder="输入内容发送" maxlength='30')
                    #sendBtn 发送
            p#info
        script(src='/js/send.js')
            