doctype html
html
    head
        title #{title}
        script(src='/static/jquery.min.js')
    body
        .box
            input(type="text" name="message" placeholder="输入发送内容")
            input(type="submit" value="发送")#sendBtn
            p(style={color:'red',display:'none'})#info
        script(src='/js/send.js')
            