doctype html
html
    head
        title #{title}
        script(src='/static/jquery.min.js')
        link(rel="stylesheet", href="/less/chat.css")
    body
        .box
            .logo
                p DAMA.CN
            .talk
                div
                    .emotion
                        a.face-toggle(href='javascript:void(0)')
                        .emojPanel
                            ul
                                each emo in emojMap
                                    li(data-tag=emo.tag)
                                        img(src=emo.url)
                    .color
                        a.font(href='javascript:void(0)')
                        - var colors = ['#ffffff','#999999','#e6151e','#9d22b1','#6738b8','#3d50b6','#03a9f4','#009688','#259b24','#8bc34a']
                        .setting-panel
                            p 弹幕颜色
                            ul
                                each color in colors
                                    li(data=color)
                                        input(type='radio' name='color')
                                        span(style={background:color})
                    .speak
                        cite 30
                        input(type="text" name="message" placeholder="输入内容发送" maxlength='30')
                    #sendBtn 发送
            p#info
        script(src='/js/send.js')
            