.footer
    .footer-box 
        p
            | 京B2-20990336.Copyright © 1977-2099 iDzeir. All Rights Reserved
        p.light
            | 北京大妈弹幕有限公司
            span
            | 客服QQ：180*****9
            span
            | BeiJing Dama Technology Co., Ltd.