header.header
    .header-box
        .lf-box
            .logo
                a(href='/')
                    img(src='http://static.youku.com/ddshow/img/laifeng/header/logo-v2.png')
            .nav
                ul
                    each item in navlist
                        li
                            a(href=item.ref) #{item.label}
                            if currentPage && currentPage.id == item.id
                                span.current
            include login