.com-header-warp
    .com-header
        include login
        ul(class='list')
            each item in navlist
                li(class='item')
                    a(href=item.ref).nav #{item.label}
