doctype html
html
    head
        title
            block title
                | Big Ma Ma 
        include includes/head
    body
        .wrapper
            .main
                include includes/header
                section.content
                    block main
                        p.arrow-down 首页显示内容down
                        p.arrow-right 首页显示内容right
                        p.arrow-top 首页显示内容up
                        p.arrow-left 首页显示内容left
        include includes/footer