extends sub.pug

block scripts
    script(src='/js/main.js')
block content
    h1 正文标题
    p #{message}
    - var pets = ['猫','狗','猪'];
    each pet in pets
        include pet.pug
block foot
    #footer
        p 自助叫
        block boom
           p 看不清