doctype html
html
    head
        title
            block title
                | Big Ma Ma 
        include includes/head
    body
        .wrapper
            .main
                include includes/header
                section.content
                    block main
                        p 首页显示内容
        include includes/footer