extends index
mixin input(label, type, name)
    .group
        if label != ''
            label #{label}
        input(type=type name=name)&attributes(attributes)
    
block title 
    title 注册会员
block main
    #register
        +input('用户名', 'text', 'username')
        +input('密码', 'password', 'pwd') 
        +input('密码确认', 'password', 'confirmPwd')
        +input('','button','')(value='注册')#registerBtn
block script
    script(src="/js/register.js")
