* {
    margin: 0px;
    padding: 0px;
}
html,body {
    width: 100%;
    height: 100%;
    line-height: 1;
    font-size: 12px;
    background: #f1f1f1;
    font-family: 微软雅黑,arial,宋体;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #d1cece;
}
input,select,textarea {
    resize: none;
    border:none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0
}
img {
    border-style: none;
}
textarea{
    overflow: auto;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

.box {
    width:100%;
}

.logo {
    position: relative;
    max-width: 550px;
    min-width: 360px;
    width:100%;
    height:300px;
    text-align: center;
    margin: 0 auto;
    background: url('/static/images/danmu_logo.png') center no-repeat;
    background-size: 300px auto;
}

.logo p {
    font-size:40px;
    position: absolute;
    width:100px;
    height:40px;
    line-height: 40px;
    text-align: center;
    bottom:30px;
    right:120px;
    color:#fff;
}

.talk {
    max-width: 550px;
    min-width: 360px;
    width: 100%;
    height:40px;
    position: relative;
    margin: 0 auto;
    margin-top:10px;
    background:#666;
    border-radius: 5px;
}

.speak {
    position: relative;
    float: left;
    width:calc(100% - 110px);
    height:100%;
    margin-left: 8px;
}

.speak cite {
    position: absolute;
    left:calc(98% - 20px);
    color:#8a8c6b;
    line-height: 32px;
    margin-top: 2px;
    font-style: normal;
}

.speak input {
    line-height: 32px;
    width:98%;
    height:32px;
    padding-left: 5px;
    border: 1px solid gray;
    margin-top:2px;
    background: none;
    color: #fff;
}

#sendBtn {
    height:40px;
    line-height: 40px;
    background:#555;
    border-radius: 5px;
    float: left;
    padding: 0 15px;
    margin-left: 8px;
    cursor: pointer;
    color:#fff;
    font-weight: bold;
    position: absolute;
    right: 0;
}

#sendBtn:hover {
    background:#3a394a;
}

.emotion {
    margin: 0;
    padding: 0;
    width:40px;
    height:100%;
    float: left;
}

.face-toggle {
    margin: 4px;
    display: block;
    width:32px;
    height:32px;
    background: url(//static.youku.com/ddshow/img/channelv2/room_bg.png) no-repeat 7px -153px;
}
.face-toggle:hover{
    background-position: -233px -153px;
}

.emojPanel {
    width:360px;
    height: 120px;
    border:1px solid gray;
    background: #666;
    border-radius: 5px;
    display: none;
}
.emojPanel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.emojPanel ul li {
    float: left;
    margin: 0;
    text-align: center;
    line-height: 40px;
    width:40px;
    height:40px;
}

.emojPanel ul li:hover {
    background: #999;
    border-radius: 5px;
}

.emojPanel ul li img {
    margin: 5px;
}

#info {
    width:100%;
    color:red;
    clear: both;
    margin-top:10px;
    text-align: center;
}