header
    .pull-left
        a(href='/')
            img(src='/static/images/logo.png')
    p.title 用户中心
    .pull-right #{user.user}
section.nav
    ul.list-unstyled.list-inline
        li
            a(href='#') 活动配置
        li 
            a(href='#') 个人敏感词
        li 
            a(href='#') 账号管理
.content
    button.btn.btn-default 新建活动
    table.table.table-striped.table-condensed.table-hover.text-center
        thead
            tr
                td 标题
                td 页面链接
                td 密码
                td 操作
        tbody
            for i in [1,2,3,4,5]
                tr
                    td 标题#{i}
                    td 页面链接#{i}
                    td 密码#{i}
                    td
                        button.btn.btn-primary.btn-xs 修改