.content-box
    ul
        each item in list
            li 
                .emotion-item 
                    span.em-id #{item.id} 
                    span.em-tag #{item.tag}
                    span.em-url #{item.url}
                    input(type='checkbox' checked=item.active)