.content-box.container
    table.table.table-striped.table-condensed.table-hover
        thead
            tr
                td 编号
                td 标识
                td 地址
                td 启用
        tbody
            each item in list
                tr
                    th.text-center #{item.id}
                    td #{item.tag}
                    td #{item.url}
                    td
                        input(type='checkbox' checked=item.active)