.content-box
     ul
        - 
            var skipNo = skip ? skip : 0;
            var limitNo = limit ? limit : 20;
        each item in words.slice(skipNo, limitNo)
            li 
                .emotion-item 
                    span.em-tag #{item.word}