.content-box
     ul
        each page in pages
            li 
                .emotion-item 
                    span.em-id #{page.id} 
                    span.em-tag #{page.label}
                    span.em-url #{page.ref}