.content-box
     ul
        each item in users
            li 
                .emotion-item 
                    //-span.em-id #{item._id} 
                    span.em-tag #{item.name}
                    input(type='checkbox' checked=item.isAdmin)