@background: #f1f1f1;
@font-size: 12px;
@font: 微软雅黑,arial,宋体;
@holder: #d1cece;
@block: 100%;
@min-warp: 1000px;
@panel-background: #f3a5cc;

//浮动
.flt (@dir: left) {
    float: @dir;
}

.after-arrow {
    display:inline-block;
    vertical-align:middle;
    content:' ';
    margin: 0 5px;
    font-size: 0;  
    line-height: 0;  
    border-width: 5px;  
    border-color: #666;  
    border-style: dashed;  
}

.mixin-arrow (@dir) when (@dir = down) {
    &::after {
        .after-arrow;
        border-top-style: solid;  
        border-bottom-width: 0;
        border-left-color: transparent;  
        border-right-color: transparent; 
    } 
 }
 .mixin-arrow (@dir) when (@dir = top) {
    &::after {
        .after-arrow;
        border-bottom-style: solid;  
        border-top-width: 0; 
        border-left-color: transparent;  
        border-right-color: transparent; 
    }
 }
 .mixin-arrow (@dir) when (@dir = left) {
    &::after {
        .after-arrow;
        border-right-style: solid; 
        border-left-width: 0;
        border-top-color: transparent;  
        border-bottom-color: transparent; 
    }
 }
 .mixin-arrow (@dir) when (@dir = right) {
    &::after {
        .after-arrow;
        border-left-style: solid;  
        border-right-width: 0; 
        border-top-color: transparent;  
        border-bottom-color: transparent; 
    }
 }

.arrow-down {
    .mixin-arrow(down);
}
.arrow-top {
    .mixin-arrow(top);
}

.arrow-left {
    .mixin-arrow(left);
}

.arrow-right {
    .mixin-arrow(right);
}

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    width: @block;
    height: @block;
    line-height: 1;
    font-size: @font-size;
    background: @background;
    font-family: @font;
}
li,ol,ul {
    list-style: none;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: object;
    text-decoration: none;

    &:active, &:hover {
        outline-width: 0;
    }
}

input,textarea {
    &::-webkit-input-placeholder {
        color: @holder;
    }
}

&::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

input,select,textarea {
    resize: none;
    border:none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

img {
    border-style: none;
}
textarea{
    overflow: auto;
}