/*
 * @Author: iDzeir 
 * @Date: 2017-11-08 18:28:26 
 * @Last Modified by: iDzeir
 * @Last Modified time: 2017-12-14 17:24:16
 */

@import 'base';

.content {
    header {
        position: relative;
        margin: 0;
        padding: 0 15px;
        height: 60px;
        line-height: 60px;
        margin: 0 -15px;
        background: darken(@background,5%);
        .title {
            position: absolute;
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
            margin:0;
            margin-left: 20px;
            bottom: -5px;
            color: darken(#aaa,10%);
        }
    }
    .nav {
        margin-top: 30px;
        li a {
            height: 30px;
            font-size: 25px;
            font-weight: bold;
            color: black;
            padding:0 30px;
            cursor: pointer;
        }
    }
    .wraper {
        margin-top: 30px;
        padding: 0 30px;
        .activity table {
            margin-top: 20px;
            thead {
                font-weight: bold;
                font-size: 14px;
            }
            #actBody tr td {
                height: 50px;
                line-height: 50px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .create-act {
            .btns {
                button:not(:last-child) {
                    margin-right:10px;
                }
            }
        }
    }
}
